<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.retention.test.mapper.TestPermissionMapper">
    
    <resultMap type="TestPermission" id="TestPermissionResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="url"    column="url"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTestPermissionVo">
        select id, name, url, create_time, update_time from test_permission
    </sql>

    <select id="selectTestPermissionList" parameterType="TestPermission" resultMap="TestPermissionResult">
        <include refid="selectTestPermissionVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
        </where>
    </select>
    
    <select id="selectTestPermissionById" parameterType="Long" resultMap="TestPermissionResult">
        <include refid="selectTestPermissionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTestPermission" parameterType="TestPermission" useGeneratedKeys="true" keyProperty="id">
        insert into test_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTestPermission" parameterType="TestPermission">
        update test_permission
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTestPermissionById" parameterType="Long">
        delete from test_permission where id = #{id}
    </delete>

    <delete id="deleteTestPermissionByIds" parameterType="String">
        delete from test_permission where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>