<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.retention.test.mapper.TestRoleMapper">
    
    <resultMap type="TestRole" id="TestRoleResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTestRoleVo">
        select id, name, create_time, update_time from test_role
    </sql>

    <select id="selectTestRoleList" parameterType="TestRole" resultMap="TestRoleResult">
        <include refid="selectTestRoleVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectTestRoleById" parameterType="Long" resultMap="TestRoleResult">
        <include refid="selectTestRoleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTestRole" parameterType="TestRole" useGeneratedKeys="true" keyProperty="id">
        insert into test_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTestRole" parameterType="TestRole">
        update test_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTestRoleById" parameterType="Long">
        delete from test_role where id = #{id}
    </delete>

    <delete id="deleteTestRoleByIds" parameterType="String">
        delete from test_role where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>