<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.retention.test.mapper.TestAdMapper">
    
    <resultMap type="TestAd" id="TestAdResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="linkUrl"    column="link_url"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTestAdVo">
        select id, name, image_url, link_url, create_time, update_time from test_ad
    </sql>

    <select id="selectTestAdList" parameterType="TestAd" resultMap="TestAdResult">
        <include refid="selectTestAdVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="linkUrl != null  and linkUrl != ''"> and link_url = #{linkUrl}</if>
        </where>
    </select>
    
    <select id="selectTestAdById" parameterType="Long" resultMap="TestAdResult">
        <include refid="selectTestAdVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTestAd" parameterType="TestAd" useGeneratedKeys="true" keyProperty="id">
        insert into test_ad
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="imageUrl != null and imageUrl != ''">image_url,</if>
            <if test="linkUrl != null and linkUrl != ''">link_url,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
            <if test="linkUrl != null and linkUrl != ''">#{linkUrl},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTestAd" parameterType="TestAd">
        update test_ad
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="imageUrl != null and imageUrl != ''">image_url = #{imageUrl},</if>
            <if test="linkUrl != null and linkUrl != ''">link_url = #{linkUrl},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTestAdById" parameterType="Long">
        delete from test_ad where id = #{id}
    </delete>

    <delete id="deleteTestAdByIds" parameterType="String">
        delete from test_ad where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>