<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.retention.test.mapper.TestUserMapper">
    
    <resultMap type="TestUser" id="TestUserResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="email"    column="email"    />
        <result property="gender"    column="gender"    />
        <result property="age"    column="age"    />
        <result property="registerTime"    column="register_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTestUserVo">
        select id, username, password, email, gender, age, register_time, update_time from test_user
    </sql>

    <select id="selectTestUserList" parameterType="TestUser" resultMap="TestUserResult">
        <include refid="selectTestUserVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="age != null "> and age = #{age}</if>
            <if test="registerTime != null "> and register_time = #{registerTime}</if>
        </where>
    </select>
    
    <select id="selectTestUserById" parameterType="Long" resultMap="TestUserResult">
        <include refid="selectTestUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTestUser" parameterType="TestUser" useGeneratedKeys="true" keyProperty="id">
        insert into test_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="gender != null">gender,</if>
            <if test="age != null">age,</if>
            <if test="registerTime != null">register_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="gender != null">#{gender},</if>
            <if test="age != null">#{age},</if>
            <if test="registerTime != null">#{registerTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTestUser" parameterType="TestUser">
        update test_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="age != null">age = #{age},</if>
            <if test="registerTime != null">register_time = #{registerTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTestUserById" parameterType="Long">
        delete from test_user where id = #{id}
    </delete>

    <delete id="deleteTestUserByIds" parameterType="String">
        delete from test_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>